@import url('https://fonts.googleapis.com/css2?family=Zen+Loop:ital@0;1&display=swap');

body {
    font-family: 'Zen Loop', cursive;
    color: white;
}

.navbar {
    background-color: pink;
    color: black;
}

.navbar-brand {
    font-size: 5rem;
}

.hide-element {
    display: none;
}
