@import url('https://fonts.googleapis.com/css2?family=Zen+Loop:ital@0;1&display=swap');

body {
    font-family: 'Zen Loop', cursive;
    color: white;
}

.navbar {
    background-color: pink;
    color: black;
}

.navbar-brand {
    font-size: 5rem;
}

.navbar-toggler {
    -webkit-transition: font-size 0.5s ease;
    -moz-transition: font-size 0.5s ease;
    -o-transition: font-size 0.5s ease;
    transition: font-size 0.5s ease;
}

.navbar-toggler:hover {
    font-size: 150%;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.hide-element {
    display: none;
}
